:root {
  --dark-bg: #30404d;
  --dark-left-bg: #394b59;
  --dark-ff: #f5f8fa;
  --dark-bg-2: #293742;
  --dark-bg-3: #354655;
  --dark-hl: rgba(138, 155, 168, 0.15);
  --dark-bg-embed: #202b33;
  --dark-highlight-yellow: #d9822b40;
}

.bp3-dark {
  background: var(--dark-bg);
  color: var(--dark-ff);
}
.bp3-dark .roam-app {
  color: var(--dark-ff);
}

.bp3-dark .roam-body .roam-sidebar-container {
  background-color: var(--dark-left-bg);
}
.bp3-dark
  .roam-body
  .roam-app
  .roam-sidebar-container
  .roam-sidebar-content
  .log-button {
  color: var(--dark-ff);
}

.bp3-dark
  .roam-body
  .roam-app
  .roam-sidebar-container
  .roam-sidebar-content
  .starred-pages-wrapper
  .starred-pages
  .page {
  color: var(--dark-ff);
}

.bp3-dark
  .roam-body
  .roam-app
  .roam-sidebar-container
  .roam-sidebar-content
  .log-button:hover,
.bp3-dark
  .roam-body
  .roam-app
  .roam-sidebar-container
  .roam-sidebar-content
  .top-row:hover,
.bp3-dark
  .roam-body
  .roam-app
  .roam-sidebar-container
  .roam-sidebar-content
  .starred-pages-wrapper
  .starred-pages
  .page:hover {
  background-color: rgba(138, 155, 168, 0.15);
}

.bp3-dark .rm-bullet__inner {
  /* border: 4px solid var(--dark-bg); */
  background-color: #738694;
}

.bp3-dark .rm-embed-container .rm-bullet__inner {
  border-color: var(--dark-bg-embed);
}

.bp3-dark .rm-reference-item .rm-bullet__inner {
  border-color: transparent;
}

.bp3-dark .rm-bullet.rm-bullet--closed .rm-bullet__inner {
  border: 4px double #738694 !important;
}
.bp3-dark .rm-page-ref--link {
  color: #48aff0;
}
.bp3-dark .rm-reference-item {
  background-color: var(--dark-bg-2);
}

.bp3-dark .rm-inline-references {
  background-color: var(--dark-bg-2);
}
.bp3-dark .rm-zoom-item {
  color: #a7b6c2;
}
.bp3-dark .rm-inline-reference:nth-child(2) {
  box-shadow: 0px 0px 0px 1px var(--dark-left-bg);
}
.bp3-dark .block-highlight-blue {
  background: rgba(125, 188, 255, 0.6);
}
.bp3-dark
  .roam-body
  .roam-app
  .roam-sidebar-container
  .rm-graph-dropdown
  .menu-item {
  color: var(--dark-ff);
}

.bp3-dark .rm-embed-container--block,
.bp3-dark .rm-embed--page {
  background-color: var(--dark-bg-embed);
}

.bp3-dark .rm-embed-container .rm-embed-container {
  background-color: var(--dark-bg-embed) !important;
}
.bp3-dark .rm-embed-container textarea.rm-block-input {
  background-color: inherit;
  box-shadow: unset;
}
.bp3-dark .rm-embed-container .rm-inline-references {
  background-color: inherit;
}
.bp3-dark textarea.rm-block-input {
  color: inherit;
}

.bp3-dark .rm-nested-refs {
  background-color: #ffc94052;
}
.bp3-dark h1.rm-title-display {
  color: #f5f8fa;
}
.bp3-dark .rm-autocomplete__results {
  background: var(--dark-bg-2);
  -webkit-box-shadow: 0 0 0 1px rgb(16 22 26 / 20%),
    0 4px 8px rgb(16 22 26 / 40%), 0 18px 46px 6px rgb(16 22 26 / 40%);
  box-shadow: 0 0 0 1px rgb(16 22 26 / 20%), 0 4px 8px rgb(16 22 26 / 40%),
    0 18px 46px 6px rgb(16 22 26 / 40%);
  color: #f5f8fa;
}
.bp3-dark [style*="background-color: rgb(213, 218, 223)"] {
  background-color: var(--dark-hl) !important;
}
.bp3-dark .bp3-popover-content {
  background-color: var(--dark-bg);
}

.bp3-dark .rm-code-block {
  background-color: rgba(16, 22, 26, 0.3);
}
.bp3-dark textarea.rm-block-input {
  padding: 4px 4px;
  background: rgba(16, 22, 26, 0.3);
  -webkit-box-shadow: 0 0 0 0 rgb(19 124 189 / 0%), 0 0 0 0 rgb(19 124 189 / 0%),
    0 0 0 0 rgb(19 124 189 / 0%), inset 0 0 0 1px rgb(16 22 26 / 30%),
    inset 0 1px 1px rgb(16 22 26 / 40%);
  box-shadow: 0 0 0 0 rgb(19 124 189 / 0%), 0 0 0 0 rgb(19 124 189 / 0%),
    0 0 0 0 rgb(19 124 189 / 0%), inset 0 0 0 1px rgb(16 22 26 / 30%),
    inset 0 1px 1px rgb(16 22 26 / 40%);
  color: #f5f8fa;
}

.bp3-dark code {
  background: rgba(16, 22, 26, 0.3);
  -webkit-box-shadow: inset 0 0 0 1px rgb(16 22 26 / 40%);
  box-shadow: inset 0 0 0 1px rgb(16 22 26 / 40%);
  color: #a7b6c2;
  border-color: rgba(16, 22, 26, 0.3);
}

.bp3-dark .rm-bq {
  border-color: rgba(115, 134, 148, 0.5);
  background-color: var(--dark-bg);
}

.bp3-dark .rm-highlight {
  color: var(--dark-bg-2);
}

.bp3-dark .rm-block-ref:hover {
  background-color: var(--dark-left-bg);
}

.bp3-dark .rm-zoom.zoom-path-view .rm-zoom-mask {
  background-color: unset;
}
.bp3-dark .block-highlight-yellow > .rm-block__self {
  border: 4px solid;
  border-color: var(--highlight-color);
}

.bp3-dark .block-highlight-yellow {
  background-color: unset;
}
.bp3-dark .cmt-editor {
  background: #272822;
  color: #f8f8f2;
}

.bp3-dark div.cmt-editor-selected {
  background: #49483e;
}
.bp3-dark .cmt-line::selection,
.bp3-dark .cmt-line > span::selection,
.bp3-dark .cmt-line > span > span::selection {
  background: rgba(73, 72, 62, 0.99);
}
.bp3-dark .cmt-line::-moz-selection,
.bp3-dark .cmt-line > span::-moz-selection,
.bp3-dark .cmt-line > span > span::-moz-selection {
  background: rgba(73, 72, 62, 0.99);
}
.bp3-dark .cm-gutters {
  background: rgba(0, 0, 0, 0);
  border-right: 0px;
}
.bp3-dark .cmt-editor-guttermarker {
  color: white;
}
.bp3-dark .cmt-editor-guttermarker-subtle {
  color: #d0d0d0;
}
.bp3-dark .cmt-editor-linenumber {
  color: #d0d0d0;
}

.bp3-dark .cm-cursor {
  border-left: 1px solid #f8f8f0;
}

.bp3-dark span.cmt-comment {
  color: #75715e;
}
.bp3-dark span.cmt-atom {
  color: #ae81ff;
}
.bp3-dark span.cmt-number {
  color: #ae81ff;
}

.bp3-dark span.cmt-comment.cmt-attribute {
  color: #97b757;
}
.bp3-dark span.cmt-comment.cmt-def {
  color: #bc9262;
}
.bp3-dark span.cmt-comment.cmt-tag {
  color: #bc6283;
}
.bp3-dark span.cmt-comment.cmt-type {
  color: #5998a6;
}

.bp3-dark span.cmt-propertyName,
.bp3-dark span.cmt-attribute {
  color: #a6e22e;
}
.bp3-dark span.cmt-keyword {
  color: #f92672;
}
.bp3-dark span.cmt-builtin {
  color: #66d9ef;
}
.bp3-dark span.cmt-string,
.bp3-dark span.cmt-string2 {
  color: #e6db74;
}

.bp3-dark span.cmt-variableName {
  color: #f8f8f2;
}
.bp3-dark span.cmt-variable-2 {
  color: #9effff;
}
.bp3-dark span.cmt-variable-3,
.bp3-dark span.cmt-typeName {
  color: #66d9ef;
}
.bp3-dark span.cmt-def {
  color: #fd971f;
}
.bp3-dark span.cmt-bracket {
  color: #f8f8f2;
}
.bp3-dark span.cmt-tag {
  color: #f92672;
}
.bp3-dark span.cmt-header {
  color: #ae81ff;
}
.bp3-dark span.cmt-link {
  color: #ae81ff;
}
.bp3-dark span.cmt-error {
  background: #f92672;
  color: #f8f8f0;
}

.bp3-dark .cm-activeLine {
  background: #373831 !important;
}
.bp3-dark .cm-focused .cm-activeLineGutter {
  background: #373831 !important;
}
.bp3-dark .cmt-editor-matchingbracket {
  text-decoration: underline;
  color: white !important;
}

.bp3-dark .bp3-menu.bp3-text-small button[style*="background-color"] {
  background-color: var(--dark-bg-2) !important;
  color: white;
}
.bp3-dark .bp3-menu.bp3-text-small button .bp3-icon-standard {
  color: white !important;
}

.bp3-dark
  .bp3-menu.bp3-text-small
  button[style*="background-color: rgba(72, 176, 240, 0.5)"] {
  background-color: rgba(72, 176, 240, 0.5) !important;
}

/* help center */

.bp3-dark .rm-help-search__input {
  background-color: inherit;
}
.bp3-dark .rm-help-resource:hover {
  background-color: var(--dark-bg-2);
}

.bp3-dark .rm-help-title,
.rm-help-resource__title,
.rm-help-resource__description,
.rm-help-function__name,
.rm-help-markdown-function__style,
.rm-help-markdown-function__markdown,
.rm-help-component__title,
.rm-help-component__description {
  color: var(--dark-ff) !important;
}

.bp3-dark .rm-help-component__notation {
  background-color: var(--dark-bg-2);
  color: var(--dark-ff);
}

.bp3-dark
  .rm-help-results
  .rm-help-categories
  .rm-help-category-menu-item:hover {
  background-color: var(--dark-bg-2);
}

/* kanban */

.bp3-dark .kanban-board {
  background-color: var(--dark-left-bg);
}

.bp3-dark .kanban-column {
  background-color: var(--dark-bg);
}

.bp3-dark .kanban-card {
  background-color: var(--dark-bg-2);
}

.bp3-dark .kanban-card textarea {
  background-color: var(--dark-bg-2);
  box-shadow: unset;
}

/* calc */
.bp3-dark .rm-calc-val {
  color: #3dcc91;
}

.bp3-dark button {
  color: var(--dark-bg);
}

/* query */

.bp3-dark .rm-query {
  border-color: var(--dark-bg-embed);
}

.bp3-dark .rm-query-title {
  background-color: var(--dark-bg-2);
  color: #48aff0;
}

/* settings */

.bp3-dark .rm-settings .bp3-control.bp3-switch input span {
  background-color: rgba(167, 182, 194, 0.5);
}

.bp3-dark .rm-multibar {
  border-color: #738694;
}

.bp3-dark .rm-menu-item--active {
  background-color: var(--dark-bg-2);
}

.bp3-dark
  .rm-command-palette__scroll-container
  .rm-command-palette__menu
  .rm-menu-item--active {
  background-color: var(--dark-bg-2);
}

.bp3-dark .rm-command-palette__shortcut {
  background-color: var(--dark-bg-embed);
}

.bp3-dark .rm-all-pages .table .rm-pages-row.rm-pages-row-header {
  border-color: var(--dark-bg-embed);
  background-color: var(--dark-bg-embed);
}

.bp3-dark .sorting-button-group .sort-button.focused {
  color: white;
}

.bp3-dark .sorting-button-group {
  color: #5c7080;
}

.bp3-dark .rm-g.rm-not-focused .rm-block {
  background-color: var(--dark-bg-3);
}

/* for hotkeys */

.bp3-dark .rm-hotkeys-hotkey__part.bp3-tag {
  color: #b8c1c7;
}

.bp3-dark .rm-embed-path {
  background-color: var(--dark-bg-3);
}

.bp3-dark .bp3-popover-content {
  background-color: var(--dark-bg) !important;
  color: var(--dark-ff) !important;
}
.bp3-dark .bp3-tooltip .bp3-popover-arrow-fill {
  fill: var(--dark-bg);
}

.bp3-dark .bp3-popover,
.bp3-popover.bp4-dark {
  -webkit-box-shadow: 0 0 0 1px rgb(16 22 26 / 20%),
    0 2px 4px rgb(16 22 26 / 40%), 0 8px 24px rgb(16 22 26 / 40%);
  box-shadow: 0 0 0 1px rgb(16 22 26 / 20%), 0 2px 4px rgb(16 22 26 / 40%),
    0 8px 24px rgb(16 22 26 / 40%);
}


.bp3-dark .ͼ2 .cm-selectionBackground {
  background-color: #3e413e;
}