name: Update Native-Dark

on:
  push:
    tags:
      - 'publish*'

jobs:
  update-native-dark:
    runs-on: ubuntu-latest
    env:
      FORK: 'dive2Pro'
      USER: 'dive2Pro'
      EMAIL: 'toylucklebo@gmail.com'
      BRANCH: 'Native Dark'
      EXTENSION_JSON: 'extensions/hyc/roam-native-dark.json'
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2
      - name: Set up Git
        run: |
          git config --global user.name "$USER"
          git config --global user.email "$EMAIL"
      - name: Checkout roam-depot repository
        uses: actions/checkout@v2
        with:
          repository: ${{ FORK }}/roam-depot
          ref: main
          token: ${{ secrets.PAT }}
      - name: Sync fork
        run: |
          git fetch --prune --unshallow
          git remote add upstream "https://github.com/Roam-Research/roam-depot"
          git fetch upstream
          git checkout -B main upstream/main
          git push -f origin main

      - name: Delete ${{BRANCH}} branch if exists
        run: |
          git push origin -d $BRANCH || true
          
      - name: Create ${{ github.ref }} branch from main
        run: |
          git checkout -b ${{ github.ref }} origin/main

      - name: Update $EXTENSION_JSON
        run: |
          sed -i 's/"source_commit": ".*/"source_commit": "'"$GITHUB_SHA"'",/g' $EXTENSION_JSON

      - name: Commit and Push changes
        run: |
          git add $EXTENSION_JSON
          git commit -m "Update source_commit to $GITHUB_SHA"
          git push -u origin ${{ github.ref }}
      - name: Create pull request
        uses: actions/github-script@v4
        with:
          github-token: ${{ secrets.PAT }}
          script: |
            const branch = '$BRANCH'; // Replace with the branch you want to create a PR for
            const owner = 'Roam-Research';
            const repo = 'roam-depot';
            const title = 'Update ${{ github.repository }}';
            const body = '';
            const head = '$FORK:$BRANCH';
            const base = 'main'; // Replace with the branch you want to merge the PR into
            const { data: pullRequest } = await github.pulls.create({
              owner,
              repo,
              title,
              body,
              head,
              base,
            });
            console.log(`PR created: ${pullRequest.html_url}`);